<nav>
    <div style="width: 100%; background-color: #281914; margin-bottom: 2%;" class="struct">
        <img style="height: 12vh; width: 12vh; align-items: center;" src="../../assets/Logo.jfif" class="card-img-top"
            alt="...">
    </div>
</nav>

<header>
    <div class="container text-center" style="margin-top: 10%;">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Name Product</h5>
                        <p>
                            <label class="card-text">Description Product
                            </label>
                        </p>
                        <p>
                            <label class="card-text">Value
                            </label>
                        </p>
                        <p>
                            <label class="card-text">Type
                            </label>
                        </p>
                        <a class="btn btn-primary">Cupon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>