
.struct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    height: 5%; 
    margin-top: 2vw; 
    border-radius: 20px;
}

.buttons:hover{
    width: 100%;
    background-color: #8E837E;
}