<header class="fundo" style="align-items: center;">
    <div class="title struct"> Register </div>

    <form class="struct" style="flex-direction: column;">
        <div class="form-floating mb-3 input">
            <input type="text" class="form-control"  placeholder="name@example.com">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3 input">
            <input type="text" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating mb-3 input">
            <input type="email" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3 input">
            <input type="password" class="form-control" placeholder="name@example.com">
            <label for="floatingInput">Password</label>
        </div>
        <div class="form-floating input">
            <input type="password" class="form-control" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>
        </div>
    </form>

    <div class="struct" style="margin-top: 5%;">
        <div style="margin-right: 10%;">
            <button type="button" class="btn btn-light" (click)="NavigateToLogin">Register</button>
        </div>
        <div>
            <button type="button" class="btn btn-light" (click)="NavigateToCancel">Cancel</button>
        </div>
    </div>
</header>