<header class="fundo">
    <div class="title struct"> Restaurant Manager </div>

    <form>
        <div class="form-floating mb-3 input">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating struct input">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
    </form>

    <div class="struct" style="margin-top: 20px;">
        <div>
            <button type="button" class="button struct">Login</button>
        </div>
        <div>
            <button type="button" class="button struct">Register</button>
        </div>
    </div>
</header>