<header class="fundo" style="align-items: center; ">
    <div class="title struct texttitle"> Restaurant Manager </div>
    <form class="struct" style="flex-direction: column;">
        <div class="form-floating mb-3 input">
            <input type="text"  name="username" class="form-control" style="width: 100%;" id="floatingInput"
                placeholder="000.000.000-00" [(ngModel)]="username">
            <label for="floatingInput">CPF</label>
        </div>
        <div class="form-floating input">
            <input type="password"  name="password" class="form-control" id="floatingPassword" placeholder="Password"
                [(ngModel)]="password">
            <label for="floatingPassword">Password</label>
        </div>
    </form>

    <div class="struct" style="margin-top: 5%;">
        <div style="margin-right: 10%;">
            <button type="button" class="btn btn-light" (click)="HomePage()">Login</button>
        </div>
        <div>
            <button type="button" class="btn btn-light" (click)="Register()">Register</button>
        </div>
    </div>
</header>