
.struct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    font-size: 50px;
}

.button{
    padding: 10px 10px 10px 10px;
    border-radius:  10px;
    border: 1px solid black;
    background-color: white;
    transition: 200ms;
}

.button:hover{
    background-color: gray;
    transition: 200ms;
}

.input{
    width: 50%;
    height: 5%;

}

.fundo{
    height: 100%;
    background-color: aquamarine;
}