<header>
    <div style="width: 100%; background-color: #281914; margin-bottom: 2%;" class="struct">
        <img style="height: 12vh; width: 12vh; align-items: center;" src="../../assets/Logo.jfif" class="card-img-top"
            alt="...">
    </div>
    <div>
        <div class="container text-center ">
            <div class="row" >
                <div class="col-sm-3" >
                    <div class="card blocks">
                        <div class="card-body" style="background-color: #281914; border: #281914;">
                            <h5 class="card-title" style="font-size: 120%;" style="color: white;">N° Order</h5> 
                            <div style="display: flex; justify-content: space-between;">
                                <h5 class="card-title" style="font-size: 120%;" style="color: white;">Pottage</h5> 
                                <h5 style="font-size: 120%;" style="color: white;">X2</h5>
                            </div>
                            <div style="display: flex; align-items: flex-end; justify-content: space-between;">
                                <a class="btn btn-color" style="color: white;" >Prepared</a>
                                <a class="btn btn-color" style="color: white;">Finish</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Meat pie x5</h5>
                            <h5 class="card-title">Juice x5</h5>
                            <a class="btn btn-primary">Finish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>