body{
    background-color: green;
}

.struct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 10%;
    color: white;
    font-size: 50px;
    margin-bottom: 5%;
}

.button{
    border-radius:  15px;
    border: 2px solid black;
    transition: 200ms;
    margin-top: 3%;
    background-color: #dadada;
    width: 250%;
    height: 200%;
}

.button:hover{
    background-color: gray;
    transition: 200ms;
}

.input{
    width: 50%;
    height: 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40%;
}

.inputs{
    width: 100%;
}