<nav>
    <div style="width: 100%; background-color: #281914; margin-bottom: 2%;" class="struct">
        <img style="height: 12vh; width: 12vh; align-items: center;" src="../../assets/Logo.jfif" class="card-img-top"
            alt="...">
    </div>
</nav>

<header>
    <div class="title struct"> ADMIN CONTROLLER </div>
    <div class="struct">
        <button class="btn btnstyle spacebutton" type="button" (click)="NavigateToAddProduct()">ADD PRODUCT</button>
        <button class="btn btnstyle spacebutton" type="button" (click)="NavigateToTotem()">TOTEM</button>
        <button class="btn btnstyle spacebutton" type="button" (click)="NavigateToOrders()">ORDERS</button>
    </div>
</header>