<nav>
    <div style="width: 100%; background-color: #281914; margin-bottom: 2%;" class="struct">
        <img style="height: 12vh; width: 12vh; align-items: center;" src="../../assets/Logo.jfif" class="card-img-top"
            alt="...">
    </div>
</nav>

<header>
    <div class="container text-center" style="margin-top: 10%;">
        <div class="row">
            <div class="col-sm-3" *ngFor="let product of listproduct">
                <div class="card">
                    <div class="card-body">
                        <img style="width: 100%; align-items: center;" src="../../assets/Sopa.png" class="card-img-top buttons"
                        alt="...">                        
                        <p class="card-title">{{product.name}}</p>
                        <p>
                            <label class="card-text">{{product.description}}</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="struct" style="margin-top: 5%;">
        <div style="margin-right: 10%; margin-bottom: 2%;" >
            <button type="button" class="btn btn-light" (click)="Promotion()">Promotions</button>
        </div>
    </div>
</header>